.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 22px;
  font-weight: 700;

  &:last-child {
    margin-right: 0;
  }
}

.contacts {
  font-style: normal;
}

.contacts__phone {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.contacts__phone__icon--elem {
  width: 13px;
  height: 14px;
  margin-right: 6px;
}