.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 35px;
  height: 35px;
  margin-right: 14px;
}

.feature__text {
  font-size: 16px;
  min-width: 90px;
}