.avatar {
  width: rem(74px);
  height: rem(74px);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: rem(6px);

  @include phone {
    width: rem(64px);
    height: rem(64px);
    margin-right: rem(10px);
  }

  &:last-child {
    margin-right: 0;
  }

  &--active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: rem(6px) solid $yellow;
    border-radius: 50%;
    z-index: 2;
  }
}

.avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__btns {
  display: flex;
  justify-content: center;
}