.header {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.logo__img {

  @include tablet {
    z-index: $z-header-tablet;
    padding: 0 rem(8px);
  }
}

.menu {
  margin: 0 rem(30px);

  @include tablet {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.menu__item {
  margin-right: rem(22px);
  font-weight: 700;
  margin-top: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}



